.input {
    min-width: 295px;
    height: 48px;
    border: none;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    display: flex;
    align-items: flex-end;

    margin: 20px 0;

    outline: none;

    transition: 1s;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}
