@import "../../styles/base.scss";

.error {
    margin: 10px 0;
    background-color: $error_color;
    color: $white_color;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-align: center;
    border-radius: 10px;
}
