/* COLORS */

$background_page: #e5e5e5;
$white_color: #ffffff;
$black_color: #000000;
$orage_color: #ff560b;
$grey_color: #5e5e5e;
$background_page_modal: #757575;
$border_button: #585858;
$placeholder_color: rgba(0, 0, 0, 0.25);
$button_color: rgba(0, 0, 0, 0.8);
$error_color: red;
