.home__question {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: all 0.3s;
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        transition: all 0.3s;
    }
}
.home__buttonContainer {
    margin-top: 80px;
}
